.container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }
  
  /* Child Selectors */
  header > .header-heading {
    color: blue;
  }
  
  header > .header-paragraph {
    font-style: italic;
  }
  
  header > .header-link {
    text-decoration: none;
  }
  
  section > .section-heading {
    color: green;
  }
  
  section > .section-paragraph {
    font-weight: bold;
  }
  
  section > .section-link {
    color: purple;
  }
  
  footer > .footer-heading {
    color: red;
  }
  
  footer > .footer-paragraph {
    font-size: 18px;
  }
  
  footer > .footer-link {
    font-weight: bold;
  }
  
  /* Class Selectors */
  .uppercase {
    text-transform: uppercase;
  }
  
  .text-center {
    text-align: center;
  }
  
